/* .container {
    height: 100%;
    width: 100%;
    color: white;
}

.container-fluid{
    width: 100%;
    background-image: url('../../assets/continerFluidBG.jpeg');
} */

.chickenSand {
  background: url("../../assets/chicken.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .mainSize2 {
  height:711px;
} */

.textDiv {
    margin-bottom:5%;
    margin-top:-2%;
}

.account {
    color:black;
    margin-top:1%;
}

/* .pText {
    padding-bottom: 50%;
} */

h5{
    color: black;
}

/* .buttonDiv {
    margin-top:20px;
    padding-bottom:20px;
    width: 100%;
} */

.userAuthBtn {
    width: 50%;
}

.container-fluid{
  overflow: hidden;
  }
