/* .container {
    height: 100%;
    width: 100%;
    color: white;
}

.container-fluid{
    width: 100%;
    background-image: url('../../assets/continerFluidBG.jpeg');
} */

.chickenSand {
  background-image: url('../../assets/continerFluidBG.jpeg');
  background-size: cover;
}

.mainSize {
  height:658px;
}

.textDiv {
    margin-bottom:5%;
    margin-top:-2%;
}

.account {
    color:black;
    margin-top:1%;
}

/* .pText {
    padding-bottom: 50%;
} */

h5{
    color: black;
}

/* .buttonDiv {
    margin-top:20px;
    padding-bottom:20px;
    width: 100%;
} */

.userAuthBtn {
    width: 50%;
}

