<div class="container-fluid">
  <div class="mainSize">
    <div class="welcomeMessage">
        <h2 class="pt-4 px-4">Welcome back, Chris</h2>
        <h1 class="pt-2 px-4 pb-5">Thanks for joining us for dinner</h1>
    </div>

        <div class="row pb-4  ">
            <div class="col d-flex justify-content-center ">
                <button mat-raised-button class="pickUpBtn">
                    <mat-icon class="example-tab-icon">shopping_bag</mat-icon>
                    Pickup at restaurant
                </button>
            </div>
        </div>
        <div class="row  ">
            <div class="col d-flex justify-content-center">
                <button mat-raised-button class="deliveryBtn">
                    <mat-icon class="example-tab-icon">local_shipping</mat-icon>
                    Deliver to me
                </button>
            </div>
        </div>
      </div>
</div>
