<div class="container-fluid px-0">
  <div class="mainSize mainImage ">
    <div class="">
        <h2 class="pt-4 px-4">Welcome back, Chris</h2>
        <h1 class="pt-2 px-4 pb-5">Thanks for joining us for dinner</h1>
    </div>
<div class="container-flex">
  <div class=" align-self-center">
        <div class="row pb-4  d-flex justify-content-center">
            <div class="col-6  d-flex justify-content-center">
                <button mat-raised-button class="pickUpBtn">
                    <mat-icon class="example-tab-icon">shopping_bag</mat-icon>
                    Pickup at restaurant
                </button>
            </div>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="col-6 d-flex justify-content-center">
                <button mat-raised-button class="deliveryBtn">
                    <mat-icon class="example-tab-icon">local_shipping</mat-icon>
                    Deliver to me
                </button>
            </div>
        </div>
      </div>
      </div>
      </div>
</div>
