

.mainImage {

  color: white;
  background: url('../../assets/background_pic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mat-raised-button{
    width: 15rem;
}

.mainSize {
  height:100vh;
}

/* .deliveryBtn{

    margin-bottom:2%;
    width: 80%;
} */

.container-fluid{
  overflow: hidden;
  }


.welcomeMessage {
    padding-bottom: 33%;
}
