.container-fluid {

    background-image: url('../../assets/background_pic.jpg');
    color: white;
    background-size: cover;
}

.mat-raised-button{
    width: 80%;
}

.mainSize {
  height:100vh;
}

.deliveryBtn{

    margin-bottom:2%;
    width: 80%;
}


.welcomeMessage {
    padding-bottom: 33%;
}
