<div class="container-fluid">
    <div class=" d-flex justify-content-center">
        <h3 class="rewards">Rewards</h3>
    </div>
    <div class="mainSize">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Redeem">
                <div class="redeem1 d-flex justify-content-center">
                    <div class="pb-5">
                    <mat-icon class="example-tab-icon">stars</mat-icon>
                    <h2>Silver Member</h2>
                    <h5>
                        <a href="#">View menu and start earning <mat-icon class="example-tab-icon"> chevron_right</mat-icon></a>
                    </h5>
                    <h1>153</h1>
                    <h3>Available Points</h3>
                    </div>

                </div>
                <div class="redeem2">

                </div>
            </mat-tab>
            <mat-tab label="My Status">
                <div class="myStatus">
                        <mat-card class="mat-card">
                            <mat-icon class="example-tab-icon">stars</mat-icon>
                            <mat-card-title>Silver Member</mat-card-title>
                            <mat-card-subtitle>Valid until 12/31/23</mat-card-subtitle>
                            <mat-card-title class="h5">TO ACHIEVE RED STATUS</mat-card-title>
                            <mat-card-subtitle class="p">Earn 1081 more points by the end of this year.</mat-card-subtitle>
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                            <mat-card-actions>
                            <button mat-button>View benefits</button>
                            <button mat-button>View 2023 status</button>
                            </mat-card-actions>
                        </mat-card>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="align-self-start">Member: 8900 1840 1580 52</p>
                    <p>Lifetime Points: 6453</p>
                </div>

            </mat-tab>
            <mat-tab label="My Rewards">Content 3</mat-tab>
          </mat-tab-group>
    </div>







</div>
