.container-fluid {
    height: 100%;
    width: 100%;
    color: black;
}

.myStatus {
    
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
    color: white;
    background-color: #E5E4E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redeem1 {
    height: 40%;
    width: 100%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    color: white;
    background-color: #E5E4E2;
}

.redeem2 {
    height: 40%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    color: white;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mat-card {
    width: 50%;
    height: 100%;
}

