<div class="container-fluid container-fluid1">
    <div class=" d-flex justify-content-center">
        <h3 class="rewards">Rewards</h3>
    </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Redeem">
            <app-redeem></app-redeem>
            </mat-tab>
            <mat-tab label="My Status">
                <div class="myStatus">
                        <mat-card class="mat-card">
                            <mat-icon class="example-tab-icon">stars</mat-icon>
                            <mat-card-title>Silver Member</mat-card-title>
                            <mat-card-subtitle>Valid until 12/31/23</mat-card-subtitle>
                            <mat-card-title class="h5">TO ACHIEVE RED STATUS</mat-card-title>
                            <mat-card-subtitle class="p">Earn 1081 more points by the end of this year.</mat-card-subtitle>
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                            <mat-card-actions>
                            <button mat-button>View benefits</button>
                            <button mat-button>View 2023 status</button>
                            </mat-card-actions>
                        </mat-card>
                </div>
                <div class="container">
                    <div class="row">
                      <div class="col align-self-start">
                        <p class="align-self-start">Member: 8900840158052</p>
                      </div>
                      <div class="col-5 align-self-end ps-0">
                        <p class="float-end">Lifetime Points: 6453</p>
                      </div>
                    </div>
                  </div>
            </mat-tab>
            <mat-tab label="My Rewards">Content 3</mat-tab>
          </mat-tab-group>
