<div class="overAll_container">
    <div class="container-fluid">
        <h1> Sign in with Chick-fil-A One</h1>
        <p>Get points, redeem available rewards and reach new tiers with increasing benefits. Access your order history to make qui ck reorders and edits to existing orders.</p>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="container-fluid">
        <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    </div>

</div>