<div class="redeem1 d-flex justify-content-center">
    <div class="pb-5">
    <mat-icon class="example-tab-icon">stars</mat-icon>
    <h2>Silver Member</h2>
    <h5>
        <a href="#">View menu and start earning <mat-icon class="example-tab-icon"> chevron_right</mat-icon></a>
    </h5>
    <h1>153</h1>
    <h3>Available Points</h3>
    </div>

</div>
<div class="redeem2">
    <div class="container">
        <section class="row align-items-start mb-1 mt-2" >
            <h4 class="px-0 mb-0">200 - 300 Points</h4>
            <div class="col-md-3 mx-auto my-5" *ngFor="let card of threeOrLess">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
                
            </div>
        </section>
        <mat-divider class="px-0 mb-0"></mat-divider>
        <section class="row align-items-center mb-1 mt-2">
            <h4 class="px-0 mb-0">400 - 600 Points</h4>
            <div id="section2">

            </div>
        </section>
        <mat-divider class="px-0 mb-0"></mat-divider>
        <section class="row align-items-end mb-1 mt-2">
            <h4 class="px-0 mb-0">700 - 800 Points</h4>
            <div id="section3">

            </div>
        </section>
        <mat-divider class="px-0 mb-0"></mat-divider>
        <section class="row align-items-end mb-1 mt-2">
            <h4 class="px-0 mb-0">1200 Points</h4>
            <div id="section4">

            </div>
        </section>
        <mat-divider class="px-0 mb-0"></mat-divider>
      </div>

</div>