<!-- <div ><mat-tab-group  headerPosition="below" mat-align-tabs="center" animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">flatware</mat-icon>
      Menu
    </ng-template>
      <app-home></app-home>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">redeem</mat-icon>
      Rewards
    </ng-template>
    <app-rewards></app-rewards>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
      Account
    </ng-template>

    <app-logout ></app-logout>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">shopping_bag</mat-icon>
      My Order
    </ng-template>

    Account
  </mat-tab>
</mat-tab-group>
</div> -->
<router-outlet></router-outlet>
<mat-toolbar class="fixed-bottom">
  <button mat-button class=" " aria-label="Example icon-button with menu icon" routerLink="/home">
    MENU

  </button>

  <button mat-button class="" aria-label="Example icon-button with menu icon" routerLink="/rewards">

    REWARDS

  </button>

  <button mat-button class="" aria-label="Example icon-button with menu icon" routerLink="/logout">

    ACCOUNT

  </button>
  <button mat-button class="" aria-label="Example icon-button with menu icon" routerLink="/">

    MY ORDER

  </button>

</mat-toolbar>
